---
layout: default
---
{%- assign _posts2 = site.posts2 | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts2 -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _post2 in _posts2 -%}
		{%- capture _title -%}
			<a href="{{- _post2.url | absolute_url -}}">{{- _post2.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _post2.author -%}{{- _post2.author }} | {% endif %}
			{{- _post2.date | date_to_long_string -}}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _post2.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _post2.url | absolute_url -}}">read more</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>